<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\NLog\CompanyATM\Logs\internallog\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
			fileName="C:\dev\CalculatorServiceV2\EvicertiaFCT_CalculatorService\CalculatorService\CalculatorService.ServerAPI\Logs\log-${shortdate}.json"
			layout="&quot;${pad:padding=4:fixedLength=true:inner=${counter}:padCharacter=0}&quot;: {&quot;Timestamp&quot;: &quot;${date:format=o}&quot;, &quot;Level&quot;: &quot;${lowercase:${level}}&quot;, &quot;Message&quot;: &quot;${message}&quot;},"
		/>

		<target name="logconsole" xsi:type="ColoredConsole"
			layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile,logconsole" />
	</rules>
</nlog>
