<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\NLog\CompanyATM\Logs\internallog\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
			fileName="C:\dev\CalculatorServiceV2\EvicertiaFCT_CalculatorService\CalculatorService\CalculatorService.Client\Logs\log-${shortdate}.txt"
			layout="#################################################################${newline}# Log entry:      ${pad:padding=4:fixedLength=true:inner=${counter}:padCharacter=0}${newline}#${newline}# Timestamp:      ${date:format=o}${newline}# Level:          ${lowercase:${level}}${newline}# Message:        ${message}
		" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
